.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;  
    color: white;
    padding: 3px;
    border-bottom: 2px solid #0056b3;
}

.card-body {
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #efefef;
}
@media (max-width: 576px) {
    .card {
        margin-bottom: 1rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}
