#card-acciones{
    width: 100%; /* Ajusta el ancho al 100% del contenedor de columna */
    max-width: 300px; /* Ancho máximo deseado */
}
a{
    color: #007bff;
}
.mycontainer {
    max-width: 1200px; 
    padding: 20px; 
}

.jumbotron {
    background-color: #fff; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.jumbotron h1 {
    color: #0056b3; 
}

.jumbotron p {
    font-size: 18px; 
}


/* Pantalla login */
.login-body {
    background-color: #5facff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.login-card {
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 10px;
}
footer {
    font-size: 0.8rem;
    color: #ffffff;
}

/*fin login*/

/*Pantalla 404*/
.bodystyle404 {
    background-color: #012549; /* Color de fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.error-container {
    text-align: center;
    padding: 2rem;
}
.error-container h1 {
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    color: #007bff;
}
.error-container p {
    font-size: 24px;
    margin-top: 20px;
    color: #6c757d; 
}

/*fin 404*/

/*footer*/

footer a{
    color: azure;
}
/*fin footer*/

/*imagenes carrusel*/
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    display: none;
}

.carousel-slide img.active {
    display: block;
}

.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 2px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
/*fin carrusel*/

/* Sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Atletas*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe la pantalla completa */
}

.form-group {
    margin-bottom: 15px;
}
.card-header {
    width: 100%;
    margin-top: 10px;
}
