<IfModule mod_headers.c>
  # Permitir la caché de recursos durante 1 año
  <FilesMatch "\.(jpg|jpeg|png|gif|ico|webp)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>

# Permitir la caché de recursos durante 1 mes

<FilesMatch "\.(css|js)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# No permitir la caché de documentos HTML

<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
</FilesMatch>
</IfModule>
<IfModule mod_brotli.c>
AddOutputFilterByType BROTLI_COMPRESS text/plain
AddOutputFilterByType BROTLI_COMPRESS text/html
AddOutputFilterByType BROTLI_COMPRESS text/css
AddOutputFilterByType BROTLI_COMPRESS application/javascript
AddOutputFilterByType BROTLI_COMPRESS application/json
AddOutputFilterByType BROTLI_COMPRESS application/xml
AddOutputFilterByType BROTLI_COMPRESS font/woff2
</IfModule>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/xml
</IfModule>
