body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
#card-acciones {
  width: 100%;
  max-width: 300px;
}

a {
  color: #007bff;
}
.mycontainer {
  max-width: 1200px;
  padding: 20px;
}

.jumbotron {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
  color: #0056b3;
}

.jumbotron p {
  font-size: 18px;
}

/* Pantalla login */
.login-body {
  background-color: #5facff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-card {
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 10px;
}

/*fin login*/

/*Pantalla 404*/
.bodystyle404 {
  background-color: #012549;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.error-container {
  text-align: center;
  padding: 2rem;
}
.error-container h1 {
  font-size: 120px;
  line-height: 120px;
  font-weight: bold;
  color: #007bff;
}
.error-container p {
  font-size: 24px;
  margin-top: 20px;
  color: #6c757d;
}

/*fin 404*/

/*imagenes carrusel*/
.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-slide img.active {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 2px;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
/*fin carrusel*/

/* Sidebar */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 20px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 15px;
}

.btn-large {
  font-size: 1.2em;
}

.gym-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #6dd5ed;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.gym-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #2193b0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.logo-container {
  margin-bottom: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

.btn-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #007bff; /* Color predeterminado para el botón */
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 140px; /* Tamaño fijo para los botones */
}

.btn-contacto i {
  margin-right: 5px;
}

/* Estilos específicos para cada botón */
.btn-contacto:first-of-type {
  background-color: #db4437; /* Color de fondo para el correo (Gmail) */
}

.btn-contacto:last-of-type {
  background-color: #25d366; /* Color de fondo para WhatsApp */
}

.btn-contacto:first-of-type:hover {
  background-color: #c23321;
}

.btn-contacto:last-of-type:hover {
  background-color: #1ebd55;
}
.navbar .nav-link {
  border-radius: 12px;
  color: white;
}

.navbar .nav-link:hover {
  background-color: rgb(37 79 151 / 45%);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: rgba(28, 61, 119, 0.45);
}
